.container {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  overflow: hidden;
}

.container-header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4rem;
}

.header_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-pic {
  width: 25rem;
  height: 25rem;
  border-radius: 5rem;
  padding-left: 3rem;
}
